<title>TinyApp</title>
<center>
  <h1>Shortening URLs</h1>
<!-- 1. display the username and
 2. a separate logout form which will POST to /logout
  Otherwise, show the login form.-->
  <% if (username) { %>
    <%= username %>
    <form method="POST" action="/urls/logout">
      <button style="color: #fff; font-size: 12px; margin: 10px 0 0 20px; padding: 8px; background-color:grey;border-radius:10px">Logout</button>
    </form>
  <% } else { %>
    <p> Login </p>
    <form method="POST" action="/urls/login">
      <div>
        Username: <input type="text" name="username">
       <br/>
        Password: <input type="text" name="password">
        <button style="color: #fff; font-size: 12px; margin: 10px 0 0 20px; padding: 8px; background-color:grey;border-radius:10px">Login</button>
      </div>
    </form>
  <% } %>
</center>
