
  <title>TinyApp</title>
  <center>
  <h1>Shortening URL</h1>

  <!--if the local (template) variable username is set/defined,
   1. display the username and
   2. a separate logout form which will POST to /logout
    Otherwise, show the login form.-->
    <% if( user !== null){ %>
      <%= user %>
      <form method="POST" action="/urls/logout">
      <button>Logout</button>
      </form>

     <% } else{ %>
       <form method="POST" action="/urls/login">
         <p>Username: <input type="username" name="username">
         <button>Submit</button></p>
       </form>
    <% } %>
</center>
