<!--a form page to submit the LONG URLs, using body parser to grab the req.body from POST request
and post it to the urlDATAbase-->
<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body style="font-size:20px; padding:50px;">
    <%- include("./partials/_header") %>
    <center>
      <form method="POST" action="/urls" style="margin:150px;"> <!--and generating our shortURL-->
        <label for="longURL">Enter a URL : </label>
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px;height: 20px">
        <input type="submit" value="Submit" style="color: #fff; margin: 10px 0 0 20px; text-align: left; background-color:#F08080;border-radius:10px">
      </form>
    </center>
  </body>
</html>
