<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body style="font-size:20px; padding:50px;">
    <%- include("./partials/_header") %>
    <center>

    <form action="/urls/register" method="POST">
      <p>
      <label for="email">Enter an Email:</label>
      <input type="email" name="email" placeholder="example@gmail.com" style="width: 300px">
      <input type="password" name="password" placeholder="password here" style="width: 300px">
      <input type="submit" value="Submit">
      </p>
    </form>

    </center>
  </body>
</html>
