<!-- display a singl URLs and its SHORTENED form
shortened URLs with EDIT BUTTON to change a new LONGURLs destination -->
<!DOCTYPE html>
<html lang="en">
<head>
</head>

  <body>
    <%- include("./partials/_header") %>
    <center>

    <!-- Add your EJS code here -->
    <!--A list or table of the URLs and their shortened forms.-->
      <ul>
        <!-- shortURL is a key and = a VALUE of this key-->
        <p><%= shortURL %>: <%= longURL %></p> <!--????????????-->
        <form method="POST" action="/urls/<%=shortURL%>">
          <input type="text" name="update">
          <button>Edit</button>
        </form>

      </ul>
    </center>
  </body>

</html>
